<%- include ('../partials/header') %>



<div class="container-fluid black no-padding">
    <div class="row">
        <div class="col-lg-3 left">
            <nav id="sidebar">
                <div class="sidebar-header newcolors">
                    <h4>sidebar header</h4>
                </div>
                <ul class="list-unstyled components newcolors">
                    <p>Heading</p>
                    <li>
                        <a href="/<%= currentUser.username %>">Profile</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-6 middle">
                <article class="media content-section">
                    <div class="media-body newcolors">
                        <div class="article-metadata">
                            <a href="<%= post.author.username %>"><%= post.author.username %></a>
                        </div>
                        <p class="article-content"><%= post.text %></p>
                        <form action="/<%= post.author %>/post/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Click here to delete this post</button>
                        </form>
                    </div>
                </article>
        </div>
        <div class="col-lg-3 right">
            <div class="newcolors">
                <h3>New Post</h3>
                <form action="/<%= currentUser.username %>" method="POST">
                    <input type="textarea" name="post[text]" placeholder="Whats on your mind?">
                    <button class="btn btn-md">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer')  %>
