<%- include ('../partials/header') %>
<div class="row need-space">
    <div class="col-md-3"></div>
    <div class="col-md-6 form content-section">
        <h2 class="register">Edit Comment</h2>
        <form action="/<%= user %>/post/<%= post_id %>/comments/<%= comm_id %>?_method=PUT" method="POST">
            <div class="form-group">
                <textarea type="text" class="form-control control" value="<%= comment.text %>" name="comment[text]" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary brn-block">Submit</button>
            </div>
        </form>
        <a href="/<%= user %>/post/<%= post_id %>">Go Back</a>
    </div>
    <div class="col-md-3"></div>
</div>
<%- include ('../partials/footer')  %>