<!-- <h1>This Is The Individual User Profile, this user is named: <%= user['username'] %></h1>
    <a href="<%= user['username'] %>/post/new">Click here to add a new post</a>

<h3><a href="/<%= user['username'] %>/edit">Edit profile</a></h3>
<h5><a href="">Delete profile</a></h5> -->

<!-- <% if(user){ %>
    <% for(var i=0;i<user.posts.length;i++){ %>
            <!-- shows posts of user, username then post text -->
            <!-- <p><%= user.posts[i].author.username %></p>
            <p><%= user.posts[i].text %></p>
        <% } %>
<% }%> --> 