<%- include ('../partials/header') %>

<div class="need-space">
    <div class="jumbotron profile-top">
        <div class="row">
            <div class="col-lg-2 spacing"></div>
            <div class="col-lg-8 content-section profile rounded-lg">
                <div class="row">
                    <div class="col-md-4">
                            <% if(!user.picture){ %>
                                <img class="rounded-circle picture" src="https://i.stack.imgur.com/34AD2.jpg">
                            <% } else { %>
                                <img class="rounded-circle picture" src="<%= user.picture %>" alt="">
                            <% } %>
                    </div>
                    <div class="col-md-4">
                        <h3><%= user.name %></h3>
                        <p>@<%= user.username %></p>
                        <p><%=  user.bio %></p>
                    </div>
                    <div class="col-md-4">
                        <% if(currentUser && user.username === currentUser.username){ %>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/<%= user.username %>/edit">Edit your profile <i class="fas fa-user-edit"></i></a>
                                    <form action="/<%= user.username %>?_method=DELETE" method="POST">
                                        <button class="dropdown-item">Delete your profile <i class="fas fa-trash"></i></button>
                                    </form>  
                                </div>
                            </div>
                            <a class="btn btn-primary float" href="/<%= user.username %>/post/new">Add a New Post <i class="far fa-plus-square"></i></a>  
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 spacing"></div>
        </div>
    </div>
</div>

<div class="container-fluid content-back">
    <div class="row">
        <div class="col-md-2 spacing"></div>
        <div class="col-lg-8 middle">
            <h3>Latest Posts From <%= user.name %></h3>
            <% user.posts.forEach((post)=>{ %>
                <div class="card content-section postcard">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title"><a class="post-title" href="/<%= user.username %>/post/<%= post._id %>"><%= post.title %></a></h3>
                            <a href="/<%= user.username %>/post/<%= post._id %>" class="post-title"><p class="card-text partial-post"><%= post.text %></p></a> 
                            <p class="card-text"><a class="post-title" href="/<%= user.username %>">By <%= user.username %></a></p>
                            <% if(currentUser && user.username === currentUser.username){ %>
                                <div class="dropdown edit-post">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/<%= user.username %>/post/<%= post._id %>/edit">Edit this post <i class="fas fa-edit"></i></a>
                                        <form action="/<%= user.username %>/post/<%= post._id %>?_method=DELETE" method="POST">
                                            <button class="dropdown-item">Delete this <i class="fas fa-trash"></i></button>
                                        </form>  
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-md-4">
                            <img src="<%= post.picture %>" class="card-img">
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="col-md-2 spacing"></div>
    </div>
</div>

<%- include ('../partials/footer')  %>




