<%- include ('../partials/header') %>
<!-- <h1><%= username %></h1>

<h5><a href="/<%= username %>/edit">Edit profile</a></h5>
<form action="/<%= username %>?_method=DELETE" method="POST">
    <button>Delete Profile</button>
</form> -->
<div class="jumbotron jumbotron-fluid newcolors pinkish">
    <div class="container">
        <h3><%= name %></h3>
        <p>@<%= username %></p>
        <img src="<%= picture %>">
    </div>
</div>


<div class="container-fluid black no-padding">
    <div class="row">
        <div class="col-lg-3 left">
            <nav id="sidebar" class="greenish">
                <div class="sidebar-header newcolors orange">
                    <h4 class="spaced">sidebar header</h4>
                </div>
                <ul class="list-unstyled components newcolors">
                    <li class="spaced yellow">
                        <a href="/<%= username %>">Profile</a>
                    </li>
                    <li class="spaced purple">
                        <a href="#">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-6 middle">
                <h3><%= username %>'s recent posts</h3>
                <% posts.forEach((post)=>{ %>
                    <article class="media content-section">
                        <div class="media-body newcolors">
                            <div class="article-metadata">
                                <a href="<%= username %>"><%= username %></a>
                                <a href="/<%= username %>/post/<%= post._id %>">See more</a>
                            </div>
                            <p class="article-content"><%= post.text %></p>
                        </div>
                    </article>
                <% }) %>
        </div>
        <div class="col-lg-3 right">
            <div class="newcolors">
                <h3>New Post</h3>
                <form action="/<%= username %>" method="POST">
                    <input type="textarea" name="post[text]" placeholder="Whats on your mind?">
                    <button class="btn btn-md">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer')  %>




